<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="/css.css"/>
</head>
<body class="post-list">
{% if object_list.exists %}
	<h1>{{ header }}</h1>
	{% for object in object_list %}
		<h2 class="cat-entry"><a href="{% url 'author_detail' object.username %}">{{ object.username }}</a></h2>
	{% endfor %}
{% else %}
	<h1>No Authors Available</h1>
{% endif %}
</body>
</html>