<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="/css.css"/>
</head>
<body>
<div class="intro-box">
	<h1>{{ message }}</h1>
	<p>This blog is maintained by <b>{{ owner }}</b></p>
	<p>
		<a class="button" href="{% url 'post_list' %}">Posts</a>
		<a class="button" href="{% url 'category_list' %}">Categories</a>
		<a class="button" href="{% url 'tag_list' %}">Tags</a>
		<a class="button" href="{% url 'author_list' %}">Authors</a>
	</p>
	<p>
		<a class="button" href="{% url 'sign_up' %}">Sign Up</a>
		<a class="button" href="{% url 'create_post' %}">Add Post</a>
		<a class="button" href="{% url 'sign_in' %}">Sign In</a>
	</p>
</div>
</body>
</html>