{% extends 'base.html' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block content %}
	{% if object.posts.all.exists %}
		<h1>Posts in {{ object.title }}</h1>
		{% for object in object.posts.all %}
			<div class="post-entry">
				<h2><a href="{% url 'post_detail' object.slug %}">{{ object.title }}</a></h2>
				<p>{{ object.content | truncatewords:15 }}</p>
				<p>
					<a class="chip" href="{% url 'author_detail' object.author.username %}">{{ object.author }}</a>
				</p>
			</div>
		{% endfor %}
	{% else %}
		<h1>No Post Available</h1>
	{% endif %}
{% endblock %}