<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ object.title }}</title>
</head>
<body>
    {% if object.post_set.all.exists %}
        <h1>Posts in {{ object.title }}</h1>
        {% for post in object.post_set.all %}
            <h2><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h2>
        {% endfor %}
    {% else %}
        <h1>No Post Available</h1>
    {% endif %}
</body>
</html>