<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{ object.title }}</title>
	<link rel="stylesheet" href="/static/css.css"/>
</head>
<body>
<div class="post-detail">
	<h1>{{ object.title }}</h1>
	<div style="margin-block: -15px 15px">
		<div style="margin-bottom: 10px">
			By <a class="chip" href="{% url 'author_detail' object.author.username %}">{{ object.author }}</a>
		</div>
		{% for category in object.category.all %}
			<a class="chip" href="{% url 'category_detail' category.slug %}">{{ category.title }}</a>
		{% endfor %}
	</div>
	{% if object.parent_post is not None %}
		<div>This post is continued from
			<a href="{% url 'post_detail' object.parent_post.slug %}">{{ object.parent_post }}</a>
		</div>
	{% endif %}
	<p>{{ object.content }}</p>
	{% if user.is_authenticated %}
		<form action="{% url 'like_post' post.slug %}" method="post">
			{% csrf_token %}
			<button type="submit">Like</button>
			{{ object.likes }}
		</form>
		<form action="{% url 'dislike_post' post.slug %}" method="post">
			{% csrf_token %}
			<button type="submit">Dislike</button>
			{{ object.dislikes }}
		</form>
	{% else %}
		<div class="info">
			<span class="up"><span>Likes:</span>{{ object.likes }}</span>
			<span class="down"><span>Dislikes:</span>{{ object.dislikes }}</span>
		</div>
		<div class="lowkey">Please log in to like / dislike</div>
	{% endif %}
	<br>
	<div style="font-size: 18px">Views: {{ object.views }}</div>
	<br>
	{% for tag in object.tag.all %}
		<a class="chip" href="{% url 'tag_detail' tag.slug %}">{{ tag.title }}</a>
	{% endfor %}
</div>
{% if object.comments.all.exists %}
	<div class="comment-section">
		<h2>Comments</h2>
		{% for comment in object.comments.all %}
			<div>
				<div class="username">{{ comment.author }}:</div>
				<p>{{ comment.content }}</p>
				{% if user.is_authenticated %}
					<form method="POST" action="{% url 'like_comment' comment.id %}">
						{% csrf_token %}
						<input type="hidden" name="comment_id" value="{{ comment.id }}">
						<button type="submit">Like</button>
						{{ comment.likes }}
					</form>
					<form method="POST" action="{% url 'dislike_comment' comment.id %}">
						{% csrf_token %}
						<input type="hidden" name="comment_id" value="{{ comment.id }}">
						<button type="submit">Dislike</button>
						{{ comment.dislikes }}
					</form>
				{% else %}
					<div class="info">
						<span class="up"><span>Likes:</span>{{ comment.likes }}</span>
						<span class="down"><span>Dislikes:</span>{{ comment.dislikes }}</span>
					</div>
					{% if forloop.last %}
						<div class="lowkey">Please log in to like / dislike</div>
					{% endif %}
				{% endif %}
			</div>
		{% endfor %}
	</div>
{% endif %}
</body>
</html>