<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ object.title }}</title>
</head>
<body>
    <div>
        <h1>{{ object.title }}</h1>
        <p>{{ object.content }}</p>
        <p>
            By {{ object.author }} in
            {% for category in object.category.all %}
                <a href="{% url 'category_detail' category.slug %}">{{ category.title }}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
        </p>
        {% if object.previous_post is not None %}
            <p>This post is continued from
                <a href="{% url 'post_detail' object.previous_post.slug %}">{{ object.previous_post }}</a>
            </p>
        {% endif %}
        <p>Likes: {{ object.likes }} | Dislikes: {{ object.dislikes }}</p>
    </div>
    {% if object.comment_set.all.exists %}
        <div>
            <h2>Comments</h2>
            {% for comment in object.comment_set.all %}
                <p>
                    {{ comment.author }}:<br>{{ comment.content }}<br>
                    Likes: {{ comment.likes }} | Dislikes: {{ comment.dislikes }}
                </p>
            {% endfor %}
        </div>
    {% endif %}
</body>
</html>