<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{ object.title }}</title>
	<link rel="stylesheet" href="/static/css.css"/>
</head>
<body>
<div class="post-detail">
	<h1>{{ object.title }}</h1>
	<div style="margin-block: -30px 15px">
		<div style="margin-bottom: 10px">By {{ object.author }}</div>
		{% for category in object.category.all %}
			<a class="chip" href="{% url 'category_detail' category.slug %}">{{ category.title }}</a>
		{% endfor %}
	</div>
	{% if object.previous_post is not None %}
		<div>This post is continued from
			<a href="{% url 'post_detail' object.previous_post.slug %}">{{ object.previous_post }}</a>
		</div>
	{% endif %}
	<p>{{ object.content }}</p>
	{% if user.is_authenticated %}
		<form action="{% url 'like_post' post.slug %}" method="post">
			{% csrf_token %}
			<button type="submit">Like</button>
			{{ object.likes }}
		</form>
		<form action="{% url 'dislike_post' post.slug %}" method="post">
			{% csrf_token %}
			<button type="submit">Dislike</button>
			{{ object.dislikes }}
		</form>
	{% else %}
		<p>Likes: {{ object.likes }} | Dislikes: {{ object.dislikes }}</p>
		<p>Please log in to like / dislike</p>
	{% endif %}
	<p>Views: {{ object.views }}</p>
</div>
{% if object.comment_set.all.exists %}
	<div>
		<h2>Comments</h2>
		{% for comment in object.comment_set.all %}
			<p>{{ comment.author }}:<br>{{ comment.content }}</p>
			{% if user.is_authenticated %}
				<form method="POST" action="{% url 'like_comment' comment.id %}">
					{% csrf_token %}
					<input type="hidden" name="comment_id" value="{{ comment.id }}">
					<button type="submit">Like</button>
					{{ comment.likes }}
				</form>
				<form method="POST" action="{% url 'dislike_comment' comment.id %}">
					{% csrf_token %}
					<input type="hidden" name="comment_id" value="{{ comment.id }}">
					<button type="submit">Dislike</button>
					{{ comment.dislikes }}
				</form>
			{% else %}
				<p>Likes: {{ comment.likes }} | Dislikes: {{ comment.dislikes }}</p>
				{% if forloop.last %}
					<p>Please log in to like / dislike</p>
				{% endif %}
			{% endif %}
		{% endfor %}
	</div>
{% endif %}
</body>
</html>